.landing-page{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  text-align: center;
}

.landing-bg{
  overflow: auto;
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  margin-top: -6rem;
  padding-top: 6rem;
  height: 100%;
}

.landing-page h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  margin-bottom : 2rem;
  color: #343434;
}
.landing-page p{
  font-family: 'Comfortaa', cursive;
  color: #343434;
  font-size: 0.75rem;
  margin-top : 0;
  margin-bottom : 2rem;
}

.landing-button{
  font-size: 2rem;
}

@media screen and (min-width: 30rem) {
  .landing-page h1{
    font-size: 4rem;
  }
  .landing-page p{
    font-family: 'Comfortaa', cursive;
    color: #343434;
    font-size: 1.5rem;
    margin-top : 0;
    margin-bottom : 2rem;
  }
  .landing-page{
    width: 60%;
  }
}

