.landing-page{
  padding-top: 6rem;
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  text-align: center;
}

.landing-bg{
    background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
    background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
    background:         linear-gradient(to right, #FFFFFF, #DEDECD);
}

.landing-page h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
  margin-bottom : 2rem;
  color: #343434;
}
.landing-page p{
  font-family: 'Comfortaa', cursive;
  color: #343434;
  font-size: 1.5rem;
  margin-top : 0;
  margin-bottom : 2rem;
}

.landing-button{
  font-size: 2rem;
}

