
.calendar{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.calendar-container{
  width: 85%;
  background: transparent;
  padding: 10px;
  margin-bottom: 2rem;
}

.calendar-container-title{
  font-size: 1.7rem;
  color: #dfdfd2;
}