
.calendar{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.calendar-container{
  width: 85%;
  background: transparent;
  padding: 10px;
  margin-bottom: 2rem;
}


.calendar-container-title{
  font-size: 1.4rem;
  color: #dfdfd2;
  margin: 0 2rem;
}

.calendar-header{
  display: flex;
  flex-direction: row;
  color: #dfdfd2;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.calendar-header-button{
  color: #dfdfd2;
  background: transparent;
  border: 0px;
  font-size: 2rem;
}