.main-content{
  background: #072739;
  background: -webkit-linear-gradient(to right, #0f374d, #001D36);
  background:    -moz-linear-gradient(to right, #0f374d, #001D36);
  background:         linear-gradient(to right, #0f374d, #001D36);
  padding-top: 6rem;
  height: calc(100vh - 6rem);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-preview{
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
  border-radius: 5% 5% 0 0;
  height: 30%;
}

.note-preview-title{
  color: #26282b;
  margin: 0.5rem;
  width: 20%;
  text-align: center;
  font-size: 1.1rem;
}

.workout-preview-list{
  color: #26282b;
  width: 60%;
  text-align: center;
  margin-top: 0.65rem; /* likely need to remove this later */
}

.workout-preview-title-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.workout-preview-title-container a{
  text-decoration: none;
  color: #727982;
}

.workout-preview-title-container a:hover{
  color: #26282b;
}

.workout-preview-title-container a:active{
  color: #3d67a5;
}

.workout-preview-title{
  font-size: 1.5rem;
  padding: 0;

}

.workout-preview-time{
  font-size: 16px;
  margin-bottom: 0px;
  padding: 0;
}

.workout-preview-description{
  margin-top: 0;
  font-size: 18px;
  text-align: left;
  color: grey;
}

.add-button{
  margin: 10px;
  width: 20%;
  text-align: center;
}

