.main-content{
  background: #072739;
  background: -webkit-linear-gradient(to right, #124557, #001D36);
  background:    -moz-linear-gradient(to right, #124557, #001D36);
  background:         linear-gradient(to right, #124557, #001D36);
  padding-top: 6rem;
  height: calc(100vh - 6rem);
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-preview{
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
  border-radius: 5% 5% 0 0;
  height: 30%;
}

.note-preview-title{
  color: #26282b;
  margin: 0.3rem;
  width: 23%;
  text-align: center;
  font-size: 1rem;
}

.workout-preview-list{
  color: #26282b;
  text-align: center;
  width: 58%;
  margin-top: 2rem;
}

.workout-preview-title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.workout-preview-title-container a{
  text-decoration: none;
  color: #26282b;
}

.workout-preview-title-container a:hover{
  color: #156c9f;
}

.workout-preview-title-container a:active{
  color: #3d67a5;
}

.workout-preview-title{
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end:0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.workout-preview-title-container button{
  border: 0;
  background-color: transparent;
  padding: auto;
  font-size: 1.4rem;
}

.workout-preview-item{
  justify-content: space-between;
}

.workout-preview-time{
  font-size: 16px;
  margin-bottom: 0px;
  padding: 0;
}

.workout-preview-description{
  margin-top: 0;
  font-size: 18px;
  text-align: left;
  color: #26282b;
}

.add-button-container {
  display: flex;
  justify-content: center;
  width: 23%;
}

.add-button {
  margin-top: 1rem;
  border: 0;
  background-color: transparent;
  font-size: 3.5rem;
  color: #26282b;
}

.add-button:hover{
  color: #156c9f;
}

.edit-button:hover{
  display: flex;
  flex-direction: row;
  color: forestgreen;
}

.delete-button:hover{
  display: flex;
  flex-direction: row;
  color: firebrick;
}

.change-buttons{
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}

