.main-content{
  background: #072739;
  background: -webkit-linear-gradient(to right, #124557, #001D36);
  background:    -moz-linear-gradient(to right, #124557, #001D36);
  background:         linear-gradient(to right, #124557, #001D36);
  padding-top: 6rem;
  margin: 0 auto;
  margin-top: -6rem;
  height: 110%;
  max-width: 620px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

