/* header */
.header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 6rem;
}

.logo{
  padding: 20px;
  font-size: 20px;
  display: inline-block;
}

.burger-menu{
  margin: 20px;
  padding: 20px 10px;
}

/* forms */

.form-section{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
} 

.underline-input{
  border: 0px;
  border-bottom: 1px solid #343434;
  margin: 0.7rem 0;
}

.input-title{
  font-size: 1.25rem;
}

/* buttons */

.lit-button {
	background-color:#001D36;
	border-radius:0px;
	border:0px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#EAE8D8;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding:1.2rem;
	text-decoration:none;
  margin: 0.5rem;
}
.lit-button:hover {
	background:linear-gradient(to bottom, #0e304f 5%, #254867 100%);
	background-color:#254867;
}
.lit-button:active {
	position:relative;
	top:1px;
}


.unlit-button {
	background-color:#b6b6b6;
	border-radius:0px;
	border:0px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#EAE8D8;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding:1.2rem;
	text-decoration:none;
  margin: 0.5rem;
}
.unlit-button:hover {
	background:linear-gradient(to bottom, #3b4955 5%, #5e6f7e 100%);
	background-color:#5e6f7e;
}
.unlit-button:active {
	position:relative;
	top:1px;
}