.day{
  color: #dfe3e8;
  display: block;
  flex: 1 0 0%;
  width: 14.28571%;
  margin: 0;
  padding: 0.8rem;
  background: transparent;
  border: 2.1px solid transparent;
  border-radius: 0;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.day + .day,
.day + .empty-state-day{
  margin-left: -1px;
}

.day-selected{
  background: transparent;
  border: 2.1px solid #65a0d3;
  color: #fff;
}

.day-hovering{
  cursor: default;
  background: transparent;
  border: 2.1px solid #4E667B;
  color: #fff;
}

.empty-state-day{
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding: 0.8rem;
  border: 0px solid #dfe3e8;
}

.empty-state-day + .empty-state-day,
.empty-state-day + .day{
  margin-left: -1px;
}

.dot{
  font-size: 0.3em;
}

