.register-form{
  max-height: calc(100% - 6rem);
} 

.sign-up-form{
  font-family: 'Hind Guntur', sans-serif;
  color: #343434;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.signup-bg{
  overflow: auto;
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  margin-top: -6rem;
  padding-top: 6rem;
  height: 100%;
}

@media screen and (min-width: 30rem) {
  .sign-up-form{
    width: 60%;
  }
}