.login-form{
  color: #343434;
  font-family: 'Hind Guntur', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}

.login-form h1{
  font-family: 'Hind Guntur', sans-serif;
}

.login-bg{
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  padding-top: 6rem;
  height: calc(100% - 6rem);
  overflow: scroll;
}