.login-form{
  color: #343434;
  font-family: 'Hind Guntur', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.login-form h1{
  font-family: 'Hind Guntur', sans-serif;
}

.login-bg{
  overflow: auto;
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  margin-top: -6rem;
  padding-top: 6rem;
  height: 100%;
}

.test-user-creds{
  margin: 5rem;
  margin-top: 5rem;
}

.test-user-creds p{
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1rem;
  margin: 0em;
}

@media screen and (min-width: 30rem) {
  .login-form{
    width: 40%;
  }
}