.help-page{
  max-width: 38rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -6rem;
  height: 100%;
}

.help-page button{
  border-radius: 5%;
}

.help-container{
  color: #343434;
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  margin-top: 6rem;
  border-radius: 5%;
}

.help-page-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  margin: 50px 50px 0 50px;
  width: 70%;
}

.help-page-list{
  font-family: 'Hind Guntur', sans-serif;
  font-size: 1.5rem;
  margin: 5% 15%;
  width: 70%;
}

.help-page-list li{
  margin: 20% 0;
}

.help-page-footer{
  text-align: right;
  margin: 1rem;
}

.help-page li{
  margin: 2rem;
} 

.help-page-next-button{
  margin: 0px 50px 50px 50px;
  padding: 20px;
}

