@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Hind+Guntur:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Hind Guntur', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #091827;
    background: -webkit-linear-gradient(to right, #0f374d, #001D36);
    background:    -moz-linear-gradient(to right, #0f374d, #001D36);
    background:         linear-gradient(to right, #0f374d, #001D36);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  height: 100vh;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.error{
  color: firebrick;
  font-family: 'Hind Guntur', sans-serif;
}

input{
  font-size: 1rem;
  background: transparent;
  font-family: 'Hind Guntur', sans-serif;
}

textarea {
  font-size: 1rem;
  background: transparent;
  font-family: 'Hind Guntur', sans-serif;
}

button{
  cursor: pointer;
}