.workout-view{
  background: #072739;
  background: -webkit-linear-gradient(to right, #0f374d, #001D36);
  background:    -moz-linear-gradient(to right, #0f374d, #001D36);
  background:         linear-gradient(to right, #0f374d, #001D36);
  padding-top: 6rem;
  height: calc(100% - 6rem);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container{
  background: -webkit-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:    -moz-linear-gradient(to right, #FFFFFF, #DEDECD);
  background:         linear-gradient(to right, #FFFFFF, #DEDECD);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px;
  margin: 0 30px;
  border-bottom: 0px;
  height: calc(100% - 6rem);
  border-radius: 5% 5% 0 0;
}

.workout-view-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin: 1rem;
}

.workout-view-title{
  width: 50%;
  font-size: 1.6rem;
  text-align: center;
  text-overflow: ellipsis;
  margin: 1rem;
  color: #26282b;
}

.workout-view-time-date{
  font-size: 16px;
  margin: 5px;
  text-align: center;
}

.workout-view-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
  margin: 20px;
}

.workout-view-back{
  margin: 20px;
}

.time-date-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.exercise-area{
  max-width: 90%;
}

.workout-view button{
  font-size: 1.3rem;
}